.header
    .header__home
        a(href=routes.home) HOME
    .header__search-bar
        form(action=routes.search, method="post")
            input(type="text" name="search" placeholder="find videos")
            input(type="submit" value="search")
    .header__manu
        if loggedUser
            span.header__upload
                a(href=`/videos${routes.upload}`) UPLOAD
            span.header__profile
                a(href=`/users${routes.userDetail}`) PROFILE
            span.header__logout
                a(href=`/users${routes.logout}`) LOG OUT
        else
            span.header__join
                a(href=`/users${routes.join}`) JOIN
            span.header__login
                a(href=`/users${routes.login}`) LOGI IN

